body{
  padding: 8px 12px;
  border-left: auto;
  border-right: auto;
  background-color: #b4aee8;
}
div{
  padding: 8px 12px;
  border-left: auto;
  border-right: auto;
  text-align: center;
  font-family: 'Toimes New Roman',cursive;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.Image{
  background-color:#caf7e3;
}
.Profile{
  background-color: #fcd1d1;
}
.About{
  background-color: #ece2e1;
}
.Skills{
  background-color: #d3e0dc;
}
.contact{
  background-color: #a7c5eb
}
